<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="col-sm-12 Container py-4"
		style="text-align: center; margin: 0 auto;">
		<div th:replace="layout/layout :: alertas"></div>
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Email</th>
							<th>createAt</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${cliente.id}" th:text="'Editar'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/eliminar/} + ${cliente.id}" th:text="'Eliminar'"
								th:attr="onclick='return confirm(\'Realmente desea eliminar el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}  + '\');'"></a></td>
						</tr>
					</tbody>
				</table>
				<div class="col-sm-12">
					<nav th:replace="paginator-nav :: paginator"></nav>
				</div>
				
				<div class="col-sm-12">
					<a class="btn btn-success float-left" th:href="@{/form}">Crear
						cliente</a>
				</div>
				<br /> <br />
				
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>