<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Acerca de Jhon Galvis</h6>
        <p class="text-justify">Ingeniero de sistemas con formación integral y competencias fuertes en el
          Desarrollo y Gestión de Sistemas de Información, fundamentado profesionalmente en las áreas de las
          ciencias de la computación e informática, capaz de afrontar las situaciones cambiantes del medio,
          respondiendo a los retos que presenta el uso masivo de las Tecnologías de Información y Comunicación.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Tecnologias</h6>
        <ul class="footer-links">
          <li *ngFor="let tecnologia of tecnologias"><a href="">{{tecnologia}}</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Idiomas</h6>
        <ul class="footer-links">
          <li *ngFor="let idioma of idiomas"><a href="">{{idioma}}</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">Scanfcode</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" style="color:#fff;" title="Ir a facebook" href="https://www.facebook.com/jhon.galvis.353" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="instagram" style="color:#fff;" title="Ir a instagram" href="https://www.instagram.com/jhonjairogalvis/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="linkedin" title="Ir a linkedIn" href="https://www.linkedin.com/in/jhon-jairo-galvis-arenales-b880231a1/" target="_blank">
              <i class="fab fa-linkedin-in" style="color:#fff;"></i>
            </a>
            <a class="youtube" title="Ir a youtube" href="https://www.youtube.com/channel/UCLWjrbTt0108L9L5lCjljKg?view_as=subscriber" target="_blank">
              <i class="fab fa-youtube" style="color:#fff;"></i>
            </a>
            <a class="github" title="Ir a github" href="https://github.com/JJGA123?tab=repositories" target="_blank">
              <i class="fab fa-github" style="color:#fff;"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
