<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:fragment="javascript">
		// 	para corroborar que la pagina esta compleatmente cargada
		$(document).ready(function() {
 
			var urlajax= $("#urlajax").val();
			$("#buscar_producto").autocomplete({
 
				//este source se encarga de buscar con el autocomplete los objetos con el query enviado.
				source : function(request, response) {
					$.ajax({
						url: urlajax + request.term,
						dataType: "json",
						data: {
							term: request.term
						},
						success: function(data) {
							response($.map(data, function(item) {
								return {
									value: item.id,
									label: item.nombre,
									precio: item.precio,
								};
							}));
						},
					});
				},
				//este select se encarga de seleccionar cualquier objeto que retorno el metodo source
				select : function(event, ui) {
					//mismo que value: item.nombre
					// $("#buscar_producto").val(ui.item.label);
					if(itemsHelper.hasProducto(ui.item.value)){
						itemsHelper.incrementaCantidad(ui.item.value,ui.item.precio);
						return false;						
					}
					var linea = $("#plantillaItemsFactura").html();
					linea = linea.replace(/{ID}/g,ui.item.value);
					linea = linea.replace(/{NOMBRE}/g,ui.item.label);
					linea = linea.replace(/{PRECIO}/g,ui.item.precio);
					
					$("#cargarItemProductos tbody").append(linea);
					itemsHelper.calcularImporte(ui.item.value,ui.item.precio,1)
					return false;
				}
			});
			
			$("form").submit(function(){
				$("#plantillaItemsFactura").remove();
				return;
			});
		});
		
		var itemsHelper = {
				calcularImporte: function(id,precio,cantidad){
					$("#total_importe_"+id).html(parseInt(precio)* parseInt(cantidad));
					this.calcularGranTotal();
				},
				hasProducto: function(id){
					var resultado = false;
					$('input[name="item_id[]"]').each(function(){
						if(parseInt(id)==parseInt($(this).val())){
							resultado = true;
						}
					});
					return resultado;
				},
				incrementaCantidad: function(id,precio){
					var cantidad= $("#cantidad_"+id).val() ? parseInt($("#cantidad_"+id).val()) : 0;
					$("#cantidad_"+id).val(++cantidad);
					this.calcularImporte(id,precio,cantidad);
				},
				eliminarLineaFactura: function(id){
					$("#row_"+id).remove();
					this.calcularGranTotal();
				},
				calcularGranTotal: function(){
					var total = 0;
					$('span[id^="total_importe_"]').each(function(){
						total += parseInt($(this).html())
					});
					
					$('#gran_total').html(total);
				}
		}
	</script>
</body>
</html>