<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div th:replace="layout/layout :: alertas"></div>
		<div class="card border-primary text-center">
			<div class="card-header">Por favor Sing In</div>
			<div class="card-body">
				<form th:action="@{/login}" method="post">
					<div class="form-group col-sm-6">
						<input type="text" name="username" class="form-control" placeholder="usuario" autofocus required/>
					</div>
					<div class="form-group col-sm-6">
						<input type="password" name="password" class="form-control" placeholder="password" required />
					</div>
					<div class="form-group col-sm-6">
						<input type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>